body{
    font-family:"Arial Black";
    background-color: black;
    color:white;
}

.general-border{
    border-style: solid;
    border-color: rgb(47, 51, 54);
    border-width: 1px;
}

.margin-right {
    margin-right: 12px;
}

#search-bar-image {
    background-image : url(../search.png);
    background-position-x: 10px;
    background-position-y: 5px;
    background-size: 25px;
    padding-left: 60px;
    background-repeat:no-repeat;
    border-radius: 20px;
    background-color: darkgrey;
    color:white;
    float: left;
    height: 30px;
    width: 85%;
    font-size: 18px;
}

.padding-search-bar {
    padding: 5px;
}

/*.search-bar {*/
/*    border-radius: 20px;*/
/*    background-color: darkgrey;*/
/*    color:white;*/
/*    float: left;*/
/*    height: 30px;*/
/*    width: 85%;*/
/*    font-size: 18px;*/
/*}*/

.input-image{
    position: absolute; top: 2px; left: 5px;
    height: 35px;
    width: 35px;
}


.setting-image{
    right: 20px;
    float: right;
    height: 35px;
    width: 35px;
}

.box-gray{
    background-color : rgb(47, 51, 54);
    height: 5px;
    width: 100%;
    border: 1px solid rgb(47, 51, 54);
}
.wd-nav-tabs {
    color: rgb(110,118,125);
    padding: 16px 16px 0px 16px;
    display: flex;
    font-size: 15px;
}
.padding-topic {
    padding: 5px;
}

.margin-topic {
    margin-top: 5px;
    margin-bottom: 30px;
}


.padding-topic-text {
    padding: 8px;
}

.float-right-image{
    right: 16px;
    float: right;
}

.font-grey{
    color:rgb(110,118,125);
}

.topic-subtitle{
    font-size: 13px
}

.topic-title{
    font-size: 20px
}


.topic-image-size {
    width: 100px;
    height: 100px;
}
.pos-relative {
    position: relative;
}

.topic-image-shape{
    border-radius: 20px;
}

.wd-nav-tabs li{
    list-style-type:none;
    display: inline-block;
    width: 20%;

}

.wd-nav-selected-tabs {
    color: rgb(29,161,242);
}

.wd-nav-tabs .wd-nav-selected-tabs {
    border-bottom: solid 4px rgb(29, 161,242);
}